$white: white;
$blue: #1d53ff;
$green: #3CC354;
$gray-90: #282828;
$gray-70: #545454;
$gray-60: #777777;
$gray-30: #acacac;
$gray-20: #e9e9e9;
$gray-10: #f8f8f8;
$facebook-blue: #4267b2;
$twitter-blue: #1da1f3;
